# Ignore dataset file
Datasets/Household/h.csv
FIFA/Dataset/archive.zip
tmp.py
Medical_code.ipynb
Datasets/medical_costs.csv

# Ignore typical temporary files
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
